
.footer {

	margin-top: 20px;
}

#jumbotron-hidden {
	display: none;
}

#jumbotron-visible {
	/*nothing required here	*/
}

.special-text {

	font-family: 'Special Elite', cursive;

}


.word-placeholder  {
	font-size: 50px;
	letter-spacing: 30px;

}

.guessed-letters {
	text-decoration: underline;
}

#ticket-container-visible {
	background-image: url("../images/dots.png");
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	/*height: 200px;*/
}

#ticket-container-hidden {
	display: none;
}

#ticket-stub, #ticket-main {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 100%;
	box-sizing: border-box;
	padding-left: 15px;
	font-family: 'Special Elite', cursive;
}

#ticket-main {
	border-right: 1px grey dashed;
}


#ticket-stub-top, #ticket-main-top {
	background-color: #0069c0; /*https://material.io/color/#!/?view.left=0&view.right=0&primary.color=2196F3*/
	color: white;
	font-weight: bold;
	padding: 10px 10px;
	/*margin: 0px;*/

}

#ticket-stub-top {
	border-left: 1px grey dashed;
	/*padding-left: 25px;*/

}


#ticket-stub {
	/*box-sizing: border-box;*/
	/*border-left: 1px grey dashed;*/
	/*height: 100%;*/
/*	padding-right: 10px;
	padding-left:10px;*/
}

.remove-space {
	margin-left: 0px;
	margin-right: 0px;
}

.testing {
	background: black;
	color: white;
}


.name-box-left {
	margin-left: 25px;
}
.name-box {
	margin-top: 10px;
	margin-bottom: 10px;
}

.name-box-header {
	font-size: 12px;
	
}

.name-box-body {

}



/*departure and destination city styling*/
.city-box-left {
	margin-left: 25px;
}
.city-box, .city-box-left {
	margin-top: 10px;
}

.city-box-header {
	font-size: 12px;
	
}

.city-box-body {

}

/*shaded grey box for main ticket*/

.grey-box {
	background: rgba(0,0,0,0.15);
	padding-left: 5px;
	padding-top: 5px;
	margin: 0px 10px;
}
.greybox-header {
	font-size: 12px;
}

.grey-box-body {
	padding-left: 2px;
	padding-top: 2px;
}

/*shaded grey box for ticket stub*/

.stub-grey-box {
	background: rgba(0,0,0,0.15);
	padding-left: 15px;
	padding-top: 5px;
	margin: 0px 10px;
/*	margin-right: 0px;
	margin-left: 10px;*/
	height: 100%;
}
.stub-greybox-header {
	font-size: 12px;
}

.stub-grey-box-body {
	padding-left: 2px;
	padding-top: 2px;
}

#stamp-visible {
	position: absolute;
	bottom: 50px;
	left: 50px;
	z-index: 1;
	font-size: 48px;
	/* Rotate div */
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    color: red;
    font-family: 'Special Elite', cursive;
    


}
#stamp-hidden {
	display: none;
}

/* ------------------- Vertical Barcode -------------------- */
 
.bar1 { border-bottom: 1px solid black;}
.bar2 { border-bottom: 3px solid black; padding: 2px }
.bar3 { border-bottom: 1px solid black; padding: 1px }
.bar4 { border-bottom: 1px solid black;}
.bar5 { border-bottom: 3px solid black; padding: 1px }
.bar6 { border-bottom: 1px solid black; padding: 1px }
.bar7 { border-bottom: 3px solid black;}
.bar8 { border-bottom: 3px solid black; padding: 1px }
.bar9 { border-bottom: 1px solid black; padding: 1px }
.bar10 { border-bottom: 1px solid black;}
.bar11 { border-bottom: 3px solid black; padding: 1px }
.bar12 { border-bottom: 1px solid black; padding: 1px }